:root {
	--white: #FFF;
	--light-white: #F8F8F8;
	--off-white: #CCC;
	--grey: #444;
	--med-grey: #777;
	--light-grey: #AAA;
	--border-grey: #DDD;
	--blue: #036AAB;
	--light-blue: #025A91;
	--border-blue: #024F80;
	--orange: #E27730;
	--border-orange: #C15E26;
}